* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p, .e-content {
	line-height: 20px;
	margin-bottom: 10px;
}

ul {
	margin-left: 24px;
}

h1,h2 {
	margin-bottom: 16px;
}

header {
	padding: 32px;
	padding-bottom: 16px;
}

article {
	padding: 16px;
	padding-bottom: 0;
	margin-top: 16px;
	border-top: 1px solid #ccc;
}
